*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    position:relative;
}
body,html{
    width:100%;
    height:100%;
}
/* 註冊頁面的樣式設定 */
.signUpContainer{
    width:100%;
    padding-top:4rem;
    height:100%;
}
.signInContainer{
    width:100%;
    padding-top:4rem;
    height:150vh;
}
.afterSignUpContainer{
    width:100%;
    padding-top:8rem;
    height:120vh;
}
/* 忘記密碼的路由樣式設定 */

.ForgotPasswordContainer{
    width:100%;
    height:70vh;
    padding-top:4rem;
} 
@media(max-width:450px){
    .signUpContainer{
        height:780px;
    }
    .afterSignUpContainer{
        eight:780px;
    }
}
/* 以下是讓使用者寄 Eamil 的樣式設定 */
.emailFormContainer{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.emailForm{
    display:flex;
    flex-direction:column;
}
input,textarea{
    margin:10px 0px;
}