*{
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
body,html{
    width:100%;
    height:100%;
}

.bookingEntranceContainer{
    text-align: center;
    padding-top: 80px;
    padding-bottom:80px;
    height:100%;
    width:100%;
    background-color: #fffae4;
}
.bookingEntranceListsContainer{
    max-width: 800px;
    border:1px solid rgba(0,0,0,0.8);
    margin:0 auto;
}
.bookingEntranceListsContainer:hover{
    background-color: #eeecec;
}
.bookingEntranceListsContainer span{
    font-size: 15px;
}

.bookingListImageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:20%;
}

.bookingListImageContainer img{
    margin: 0 auto;
}
.bookingItems{
    width:80%;
}

.CardContent:hover{
    background-color: #eeecec;
}
.bookingItemsIcons{
    text-align: left;
}
.bookingItemsIcons span{
    margin: 0.3rem;
}
.bookingItemsIcons svg{
    margin:.5rem;
}
.bookingItemsButtonContainer{
    width:20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bookingItemsButton{
    background-color: #5eba00;
    align-items: center;
    width:95px;
    height:65px;
    border-radius: 5px;
    color:white;
}
.bookingButtonIcon{
    width:15px;
    height:15px;
    margin:5px;
    top:5px;
}
/* 以下為小於576px時的樣式設定 */
.isMobileHeader{
    width:85%;
}
.isMobileImage{
    width:15%; 
    display:flex;
    justify-content: center;
    align-items:center
}
.isMobileImage img{
    width:50px;
    height:50px;
}
.isMobileHeader p{
    font-size: 20px;
    margin: 0;
}
.isMobileButton{
    margin-top:0.5rem;
    margin-bottom:0.5rem;
    display: flex;
    justify-content: center;
    color:white;
}
.isMobileButton span{
    margin-left: 5px;
}
 @media screen and (max-width:450px) {
    .isMobileHeader{
        width:50%;
    }
    .isMobileHeader p:first-child{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .isMobileHeader p{
        font-size: 15px;
    }
    .isMobileImage{
        width: 50%;
    } 
    .isMobileImage img{
        width:100%;
        height:100%;
    }
    .bookingItemsIcons span{
        margin: 0.1rem;
    }
    .bookingItemsIcons svg{
        margin: 0.5rem;
    }
} 





