*{
    position:relative;
    margin:0;
    padding:0;
    box-sizing:border-box;
}
a{
    text-decoration:none;
}
ul,li{
    list-style:none;
}
body,htmo{
    width:100%;
}
.BasicCalendarContainer{
    margin-top:64px;
    margin-bottom:50px;
    padding-top: 30px;
    width:100%;;
    height:600px;
    text-align: center;
}
.ItemContainer{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.ButtonContainer{
    margin-top:1rem;
} 
.ButtonContainerTwo{
    top:0;
}
.EmailInput{
    width:"350px";
    height:55px;
    font-size:20px;
    color:#000;
    border:1px solid #676766;
    border-radius:5px;
    padding-left:1rem;
}
.EmailInput:hover{
    border:2px solid #1192ff;
}
@media(max-width:576px){
    .ButtonContainerTwo{
        display:flex;
        /* flex-direction:column; */
    }
}