*{
      position: relative;
      margin:0;
      padding:0;
      box-sizing: border-box;
}
body{
      width:100%;
}
.userContainer{
      width:100%;
      padding-top:64px;
      background-color: #fffae4;
}

.jdContainer{
      width:100%;
      padding-top:1rem;
	padding-bottom:1rem;
      text-align: center;
}
.jdTitle{
      color:black;
}
/* 以下為卡片部分 */
.jsCardContainer{
	max-width: 300px;
	margin:0 auto;
	margin-top: 3vh;
}
.jsCardContainer:hover{
      box-shadow: inset 0 0 1em gold, 0 0 1em red;
}
.jdCard{
	background-color: white;
      border: 1px solid #bacdd8;
      padding: 8px;
      border-radius: 12px;
}    
.jdCard img{
	width:100%;
	border-radius: 12px;
      height: 200px;
	object-fit: cover;
}
.jdCardDetail{
      padding:8px 16px 8px 16px;
      height:290px;
}
.jdCardDetail p{
   font-size: 14px;
   color: #7f8c9b;
}
.jdCardDetailLink{
	border: none;
	font-weight: 600;
	color: #fff;
      font-size:18px;
	display: block;
	cursor: pointer;
      background-color:#2369d6;
      padding:8px 16px;
      border-radius:8px;
	text-decoration: none;
      top:2rem;
}
.jdCardDetail a:hover{
	background-color:#ffdb55;
	color:black;
}
@media screen and (max-width:1000px){
      .jdCardDetailLink{
            top:0;
      }
}
@media screen and (max-width:767px){
      .jdCardDetailLink{
            top:2rem;
      }
}
.jdCardTitle{
   font-size: 18px;
   font-weight: 600;
   margin-top: 10px;
   margin-bottom: 5px;
}