*{
      box-sizing: border-box;
      position: relative;
      margin: 0;
      padding: 0;
}
.navbar{
      position:fixed;
      width:100vw;
      height:64px;
      z-index:500;
      background-color: rgba(0,0,0,0.8);
      left:0;
      top:0;
      display:flex;
      justify-content:center;
      align-items:center;
      flex-direction: row;
      justify-content: space-around;
}

.navbar .brand{
      display:block;
	height: 50px;
      width: 125px;
}
.navbar .Nav{
      display:flex;
      flex-direction: row;
      align-items: center;
}
.navbar .Nav li{
      list-style: none;
}


.navbar .Nav .Navlink{
      display:block;
      color:#fff;
      line-height: 24px;
      text-decoration: none;
      padding:24px 20px;
      font-size:18px;
      transition: color 0.3s;
}
.navbar .NavMenu .Navlink{
      text-decoration: none;
}
.navbar .Nav .Navlink:hover{
	color: #d5a26f;
}
/* 設定當小於768px時，用 useState 選取 NavMenu ，並以 NavMenu 為點擊後的項目列表 */
@media screen and (max-width: 768px){
/*設定當小於768px時原Nav消失，NavMenu出現  */
      .navbar .Nav{
            display:none; 
      }  
      .navbar .NavMenu{
            position:fixed;
            left:0;
            top:64px;  
            width:100%;
            height:100%;
            background-color: rgba(0,0,0,0.8);
            z-index:500;
            display:flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            opacity: 1;
            font-size:18px;
		visibility: visible;
            transition: all 0.3s;
      }
      .navbar .NavMenu .Navitem{
            text-align: center;
		padding: 20px;
      }
      .navbar .NavMenu .Navlink{
            color:#fff;
      }
}

/* 當小於768px時，漢堡列出現 */
.navbar .menuToggle{
      width:48px;
      height:48px;
      margin-top:8px;
      display:none;
}

@media screen and (max-width: 768px){
      .navbar .menuToggle{
            display: block;
      }
      
}
/* 漢堡列細部設定 */
.navbar .menuToggle span{
      display:block;
      width:32px;
      height:2px;
      position: absolute;
      background-color: #d5a26f;
      left:50%;
      transform: translate(-50%,0);
}

.navbar .menuToggle span:nth-child(1){
      top:12px;
}
.navbar .menuToggle span:nth-child(2){
      top:22px;
}
.navbar .menuToggle span:nth-child(3){
      top:32px;
} 

/* 當點擊時，第一條線變成叉叉 */
.navbar .menuToggle.clicked span:nth-child(1) {
      transform: rotate(-53deg) translate(-10px, 8px);
    }
    
    /* 當點擊時，第二條線消失 */
    .navbar .menuToggle.clicked span:nth-child(2) {
      opacity: 0;
    }
    
    /* 當點擊時，第三條線變成叉叉 */
    .navbar .menuToggle.clicked span:nth-child(3) {
      transform: rotate(53deg) translate(-5px, -5px);
    }
