*{
      box-sizing: border-box;
      position: relative;
}
.navbar{
      width:100vw;
      height:64px;
      position:fixed;
      z-index:500;
      background-color: rgba(0,0,0,0.8);
      border:2px solid blue;
      left:0;
      top:0;
      display:flex;
      flex-direction: row;
      justify-content: space-evenly;
}
.navbar .brand{
      display:inline-block;
	height: 64px;
      width: 160px;
}
.navbar .nav{
      display:flex;
      flex-direction: row;
      align-items: center;
}
.navbar .nav .link{
      display:block;
      color:#fff;
      line-height: 24px;
      padding:20px 16px;
      transition: color 0.3s;
}
.navbar .nav .link:hover{
	color: #d5a26f;
}