@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap");
*{
    position: relative;
    margin:0;
    box-sizing: border-box;
    padding:0
}
body{
    width:100%;
}
/* 以下為人類圖是什麼入口頁頁面的樣式設定 */
.HumanDesignWrap{
    width:100%;
    padding-top: 84px;
    color:white;
    background: linear-gradient(to right, 
    #000 0%,
    #333 20%,
    transparent 50%,
    #333 80%,
    #000 100%
  );
  text-align: center;
  margin:auto;
  padding: 64px ;
}
.HumanDesignMainTitle{
    font-weight: 800;
    margin-bottom: 20px;
    color:#ff0000;
    margin-top: 20px;
}
.GelleryContainer {
    padding: 0 16px;
    width: 80%;
    margin: 0 auto;
    color: #fff;
	background-color: rgba(0,0,0,.6);
}
.GelleryRow {
    margin-bottom:20px;
    border-bottom:1px solid #c4c4c4;
}
.GelleryImageContainer {
    margin: 0 auto; 
    width: 100%; 
}
.GelleryContainer img{
        width: 100%;
        height: auto;
    
}
.GelleryImageContainer:before {
    content: '';
    display: block;
    width: 75%;
    padding-top: 75%;
}

.GelleryImageContainer .GelleryImage {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.textContainer{
    color: #fff;
	background-color: rgba(0,0,0,.6);
    font-size: 20px;
    line-height: 40px;
    transition: transform 0.3s ease; 
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
}
  @media screen and (max-width: 1280px){
    .textContainer{
        position: relative;
        font-size: 15px;
        line-height: 30px;
    }
    .GelleryContainer{
        width:100%;
        padding: 0;
    }
}  
